<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="SinavDBEntities" connectionString="metadata=res://*/SinavDBModel.csdl|res://*/SinavDBModel.ssdl|res://*/SinavDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=kodusor.com\MSSQLSERVER2012;initial catalog=SinavDB;user id=kodusoradmin;password=Vxs^t857;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
