@model IEnumerable<SinavOlusturma.Data.ModelView.Titles> 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-body mb-3">
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="md-form">
                <select class="mdb-select" id="subject">
                    <option value="" disabled selected>Choose your subject</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.Link">@item.Title</option>
                    }
                </select>
                <label>Select Subject</label>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="md-form">
                <textarea type="text" id="content" class="md-textarea" style="height: 200px"></textarea>
                <label for="content">Content</label>
            </div>
        </div>
        <div class="col-md-12 mt-3" id="soru">
            <div class="card card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <input type="text" id="soru1" class="form-control">
                            <label for="soru1" class="">Question 1</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input type="text" id="s1Option1" class="form-control">
                                    <label for="s1Option1" class="">A</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input type="text" id="s1Option2" class="form-control">
                                    <label for="s1Option2" class="">B</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input type="text" id="s1Option3" class="form-control">
                                    <label for="s1Option3" class="">C</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input type="text" id="s1Option4" class="form-control">
                                    <label for="s1Option4" class="">D</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <select class="mdb-select" id="answer1">
                            <option value="" disabled selected>Choose Answer</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                        <label>Choose Answer</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-3" id="soru">
            <div class="card card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <input type="text" id="soru2" class="form-control">
                            <label for="soru2" class="">Question 2</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input type="text" id="s2Option1" class="form-control">
                                    <label for="s2Option1" class="">A</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input type="text" id="s2Option2" class="form-control">
                                    <label for="s2Option2" class="">B</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input type="text" id="s2Option3" class="form-control">
                                    <label for="s2Option3" class="">C</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input type="text" id="s2Option4" class="form-control">
                                    <label for="s2Option4" class="">D</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <select class="mdb-select" id="answer2">
                            <option value="" disabled selected>Choose Answer</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                        <label>Choose Answer</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-3" id="soru">
            <div class="card card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <input type="text" id="soru3" class="form-control">
                            <label for="soru3" class="">Question 3</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input type="text" id="s3Option1" class="form-control">
                                    <label for="s3Option1" class="">A</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input type="text" id="s3Option2" class="form-control">
                                    <label for="s3Option2" class="">B</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input type="text" id="s3Option3" class="form-control">
                                    <label for="s3Option3" class="">C</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input type="text" id="s3Option4" class="form-control">
                                    <label for="s3Option4" class="">D</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <select class="mdb-select" id="answer3">
                            <option value="" disabled selected>Choose Answer</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                        <label>Choose Answer</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-3" id="soru">
            <div class="card card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <input type="text" id="soru4" class="form-control">
                            <label for="soru4" class="">Question 4</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input type="text" id="s4Option1" class="form-control">
                                    <label for="s4Option1" class="">A</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input type="text" id="s4Option2" class="form-control">
                                    <label for="s4Option2" class="">B</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input type="text" id="s4Option3" class="form-control">
                                    <label for="s4Option3" class="">C</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input type="text" id="s4Option4" class="form-control">
                                    <label for="s4Option4" class="">D</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <select class="mdb-select" id="answer4">
                            <option value="" disabled selected>Choose Answer</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                        <label>Choose Answer</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary float-right saveAboutMe" style="width: 10rem" id="save">Save</button>
            <button type="button" class="btn btn-danger float-right saveAboutMe">Cancel</button>
        </div>
    </div>
</div>