@model IEnumerable<SinavOlusturma.Data.Exam>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary float-right saveAboutMe">Save</button>
    </div>
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 1; }
                @foreach (var exam in Model)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@exam.Title</td>
                        <td>@exam.Date.Value.ToShortDateString()</td>
                        <td><a href="@Url.Action("DeleteExam", "Home", new { examID = exam.Id})" class="btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>

